$lightGreen : #00b894;
$black : #000000;
$white : #ffffff;
$darkBlue : #29A8CA;

.navbar {
  background-color: #9AEBA3;

  .container {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 1.5rem;
      font-weight: bold;

      img {
        width: 7rem;
        height: 7rem;
        padding-left: 1rem;
      }
    }

    .titulo {
      font-size: 2.5rem;
      font-weight: bold;
      color: #000;
      padding-left: 1rem;
      font-family: "Arial", sans-serif;
      letter-spacing: 2px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .profile-link {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      color : #ffffff;
      p {
        margin: 0;
        padding-right: 10px;
        color: #000;
        font-weight: bold;
      }
    }

    .hover-menu {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: none;
    }

    .hover-menu ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .hover-menu li {
      margin-bottom: 5px;
    }

    .hover-menu a {
      text-decoration: none;
      color: #333;
    }

    .profile-link:hover .hover-menu {
      display: block;
    }

    .links {
      display: flex;
      align-items: center;
      margin: 2rem;

      h6,
      p {
        font-size: 1rem;
        font-weight: bold;
        color: #000;
        margin-right: 10px;
      }

      .link,
      .logout .link {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        background-color: #012030;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        transition: background-color 0.3s ease;
        margin : 0rem 0.5rem;
        &:hover {
          background-color: #002b5b;
        }
      }

      .imagen-link {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        margin-top: 15px;

        img {
          height: 3rem;
          width: 3rem;
        }
      }

      .logout:hover {
        background-color: red;
      }
    }

    .welcome {
      font-size: 1rem;
      font-weight: bold;
      color: #000;
      margin-right: 10px;
    }
  }
}



.profile-solicitacao{
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
}

.solicitacao-h1 {
font-size: 24px;
font-weight: bold;
margin-bottom: 20px;
}

.solicitacao-div {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
padding: 20px;
background-color: #f2f2f2;
border-radius: 5px;
}

.solicitacao-div p {
margin-bottom: 10px;
}

.edit-button-solicitacao,
.delete-button-solicitacao {
cursor: pointer;
background-color: #000;
color: #fff;
font-weight: bold;
padding: 5px 10px;
border-radius: 5px;
margin-top: 10px;
}

.edit-button-solicitacao:hover,
.delete-button-solicitacao:hover {
background-color: #002b5b;
}



.confirmation-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .confirmation-popup h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .confirmation-popup button {
    background-color: #00b894;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


  
  .confirmation-popup button:hover {
    background-color: #ff7875;
  }
  

$lightGreen : #00b894;
$black : #000000;
$white : #ffffff;
$darkBlue : #29A8CA;
$gray: #F1F1F1;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.home{
    font-family: 'Open Sans', sans-serif;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 2rem;
        font-weight: bold;
        color: $black;
        margin-bottom: 2rem;
    }
    img{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-bottom: 1rem;
    }
    .test{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 50%;
        background-color: white;
        border-radius: 1rem;
        padding: 0rem; 
    }
    .posts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .post{
            background-color: #DAFDBA;
            width: 30%;
            margin-bottom: 2rem;
            border-radius: 1rem;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            .postImg{
                width: 100%;
                height: 5rem;
                width: 5rem;
                border-radius: 1rem 1rem 0rem 0rem;
                margin-top: 1rem;
                margin-left: 1rem;
            }
            .postInfo{
                padding: 1rem;
                display: flex;
                flex-direction: column;
                .postNome{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1rem;
                    .nome{
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: $black;
                    }
                    .bairro{
                        font-size: 1rem;
                        font-weight: bold;
                        color: $black;
                    }
                }
                .desc{
                    font-size: 1rem;
                    color: $black;
                    margin-bottom: 1rem;
                }
                hr{
                    margin-bottom: 1rem;
                }
                .postVaga{
                    font-size: 1rem;
                    font-weight: bold;
                    color: $black;
                }
                .link{
                    text-decoration: none;
                    color: $white;
                    font-weight: bold;
                    font-size: 1rem;
                    cursor: pointer;
                    background-color: #000000;
                    border-radius: 2rem;
                    padding: 0.5rem 0.5rem;
                    text-align: center;
                    margin-top: 0.5rem;
                    }
                .link:hover{
                    color: $darkBlue;
                }
            }
        }
    }
    .post:hover {
        /* Estilos ao passar o mouse */
        transform: scale(1.1); /* Aumenta a escala da div em 10% */
      }

}

footer{
    background-color: #ECECEC;
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        padding : 0rem 1rem;
        width: 3rem;
        height: 3rem;
        margin-left: 1rem;
    }

    span{
        font-size: 1rem;
        padding-right: 1rem;
        font-weight: bold;
        font-size: 1rem;
        color: $black;
    }
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .entrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
  }
  
  .entrar img {
    width: 100px;
    height: 100px;
  }
  
  .auth h1 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  input {
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button.authButton {
    width: 300px;
    height: 40px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button.authButton:hover {
    background-color: #45a049;
  }
  
  span {
    font-size: 14px;
    margin-top: 10px;
  }
  
  span a {
    color: blue;
    text-decoration: underline;
  }
  
  span a:hover {
    color: darkblue;
  }

  .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .carro {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
  
  .auth h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button.authButton {
    width: 300px;
    height: 40px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button.authButton:hover {
    background-color: #45a049;
  }
  
  span {
    font-size: 14px;
    margin-top: 10px;
  }
  
  span a {
    color: blue;
    text-decoration: underline;
  }
  
  span a:hover {
    color: darkblue;
  }
  
  