$lightGreen : #00b894;
$black : #000000;
$white : #ffffff;
$darkBlue : #29A8CA;
$gray: #F1F1F1;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.home{
    font-family: 'Open Sans', sans-serif;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 2rem;
        font-weight: bold;
        color: $black;
        margin-bottom: 2rem;
    }
    img{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-bottom: 1rem;
    }
    .test{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 50%;
        background-color: white;
        border-radius: 1rem;
        padding: 0rem; 
    }
    .posts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .post{
            background-color: $gray;
            width: 30%;
            margin-bottom: 2rem;
            border-radius: 1rem;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            .postImg{
                width: 100%;
                height: 5rem;
                width: 5rem;
                border-radius: 1rem 1rem 0rem 0rem;
                margin-top: 1rem;
                margin-left: 1rem;
            }
            .postInfo{
                padding: 1rem;
                display: flex;
                flex-direction: column;
                .postNome{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1rem;
                    .nome{
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: $black;
                    }
                    .bairro{
                        font-size: 1rem;
                        font-weight: bold;
                        color: $black;
                    }
                }
                .desc{
                    font-size: 1rem;
                    color: $black;
                    margin-bottom: 1rem;
                }
                hr{
                    margin-bottom: 1rem;
                }
                .postVaga{
                    font-size: 1rem;
                    font-weight: bold;
                    color: $black;
                }
                .link{
                    text-decoration: none;
                    color: $white;
                    font-weight: bold;
                    font-size: 1rem;
                    cursor: pointer;
                    background-color: #000000;
                    border-radius: 2rem;
                    padding: 0.5rem 0.5rem;
                    text-align: center;
                    margin-top: 0.5rem;
                    }
                .link:hover{
                    color: $darkBlue;
                }
            }
        }
    }

}