.profile-caronas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.caronas-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.carona-card {
  width: calc(300px - 20px); /* Largura de 50% do container com margem de 20px entre os cards */
  height: 250px;
  background-color: #97c89d;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: filter 0.2s;
}

.carona-card:hover {
  filter: brightness(90%);
}

.carona-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.origem-destino {
  font-weight: bold;
  font-size: 1.2rem;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.edit-button,
.delete-button {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: filter 0.2s;
}

.edit-button {
  background-color: #ff8c00; /* Laranja */
  color: #fff;
}

.delete-button {
  background-color: #c00000; /* Vermelho */
  color: #fff;
}

.edit-button:hover,
.delete-button:hover {
  filter: brightness(90%);
}

.criar-carona {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
