.profile-caronas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.caronas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carona-card {
  width: calc(350px - 20px); /* Largura de 50% do container com margem de 20px entre os cards */
  height: auto;
  background-color: #97c89d;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: filter 0.2s;
}

.carona-card:hover {
  filter: brightness(70%);
  
}

.carona-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  font-size: 1rem;
}

.origem-destino {
  font-size: 1rem;
}

.origem-destino-origem {
  color: #012030;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;  
  text-decoration: underline;

}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.edit-button,
.delete-button {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: filter 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-button {
  background-color: #ff8c00; /* Laranja */
  color: #fff;
}

.delete-button {
  background-color: #c00000; /* Vermelho */
  color: #fff;
  width: 100px;
}

.edit-button:hover,
.delete-button:hover {
  filter: brightness(80%);
}

.edit-button:hover {
  background-color: #8ff04f;
}

.delete-button:hover {
  background-color: #ff0000;
}

.criar-carona {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.editar-perfil-button,
.delete-profile-button {
  background-color: #012030;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.editar-perfil-button:hover {
  filter: brightness(90%);
  background-color: #3acc4b;
}

.delete-profile-button:hover {
  filter: brightness(90%);
  background-color: #c00000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.3s ease-in-out;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}

.modal h2 {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
}

.modal input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
}

.cancel-button,
.save-button {
  background-color: #012030;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.cancel-button:hover {
  filter: brightness(90%);
  background-color: #c00000;
}

.save-button:hover {
  filter: brightness(90%);
  background-color: #97c89d;
}

.cancel-button-delete,
.confirm-button-delete {
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.cancel-button-delete {
  background-color: #012030;
}

.confirm-button-delete {
  background-color: #c00000;
}

.cancel-button-delete:hover {
  filter: brightness(90%);
  background-color: #97c89d;
}

.confirm-button-delete:hover {
  filter: brightness(90%);
  background-color: #ff0000;
}

.modal input:disabled {
  opacity: 0.7;
}
